.outer-box{
  display:flex;
  
  flex-wrap: wrap;
}

.box{
  width:400px;
  border-radius:8px;
  border:2px solid black;
  text-align: center;
  margin:30px auto;
  padding:10px;
  background-color:bisque;
}


.box img{
width:400px;
height:400px;
object-fit: cover;
}
.details{
  display:flex;
  align-items: center;
  gap:10px;
  justify-content:space-between;
}
.summary{
  text-align:justify;
  color:rgb(21, 21, 134);
  
}
.rating{

  font-weight: bold;
}
.star{
  color:red;
}
.counter{
  display:flex;
 
  
}
button{
  width:70px;
  display:flex;
  align-items:center;
  gap:5px;
  font-size:15px;
}
.Add_movie_box{
  border:2px solid black;
  margin:20px auto;
  width:30%;
  background-color:rgb(241, 202, 117);
  text-align:center;
  padding:10px;

}
input{
  width:90%;
  height:30px;
  border-radius:5px;
  font-size:16px;
}
.Add_movie_box p{
  font-size:18px;
  color:white;
}

.movie_actions{
  display:flex;
  
  align-items:center;
}
.first_box{
  display:flex;
  align-items:center;
  justify-content: space-between;
  
}
.navigation{
  display:flex;
  gap:20px;
  align-items:center;
  
  margin:15px;
  font-size:20px;
}
.link{
  text-decoration: none;
}
.home{
  margin:70px auto;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;

}